@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ink text-txt font-sans antialiased;
    font-size: 14px;
    line-height: 1.55;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-line;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
